body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
}
#rainButton{
    border:0;
    background: midnightblue;
    padding:.5rem;
    color: wheat;
    margin:1rem 0;
    width: auto;
    text-transform:uppercase;
    position: static;
    opacity: .5;
}
#rainButton:hover{
    background: #337ab7;
}

#resetButton{
    border:0;
    background: midnightblue;
    padding:.5rem;
    color: wheat;
    margin:1rem 0;
    width: auto;
    text-transform:uppercase;
    position: static;
    opacity: .5;
}

#resetButton:hover{
    background: #337ab7;
}