nav{
    text-align: center;
    color: #000000;
    padding: 0;
}
canvas { width: 100%;
    height: 100% }
body, html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #32a0a8;
    width: 100% !important;
    height: 100% !important;
    text-align: center;
}
#home{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}
#api{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}
#algorithms{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}
h1 {
    font-weight: 700;
}
h1 strong {
    font-weight: 900;
}
h2 {
    line-height: 20px;
    margin: 0;
    color: #444;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 34px;
    text-transform: uppercase;
}
h3, h4 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p {
    font-size: 15px;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: wheat;
    color: #777;
    padding: 30px 0 25px 0;
    text-align: center;
    align-items: center;
}
.contactForm {
    margin: 2rem auto;
    border: 2px solid #32a0a8;
}
.contactForm label{
    display:block;
    padding:1rem 0 .5rem;
    text-transform: uppercase;
    font-size: 14px;
}
.contactForm input{
    display:block;
    width:100%;
    border:2px solid #009999;
    padding-bottom:.5rem;
    font-size: 18px;
    border-radius:5px;
    height: auto;
}

.modal{
    animation-name: modalopen;
    animation-duration: 1.5s;
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.5);

}
.modal-content{
    background-color: #32a0a8;
    margin: 20% auto;
    width: 70%;
    padding: 0;
    text-align: left;
    color: wheat;
}
.modal-footer{
    text-align: center;
    background-color: wheat;
    padding: 0;
}
.modal-header h2{
    margin: 0;
    color: #32a0a8;
}
.modal-header{
    padding: 15px;
    background-color: wheat;
    color: #32a0a8;
}
#submitButton{
    border:0;
    background: #1e4b5c;
    padding:.5rem;
    color: wheat;
    margin:1rem 0;
    width: auto;
    text-transform:uppercase;
}
#submitButton:hover{
    background: #0099ff;
}
.emailImage{
    position: relative;
    top: 17px;
}
.emailImage:hover{
    opacity: .5;

}

.closeButton{
    float: right;
    font-size: 30px;
    color: #32a0a8;
}
#threeJsButton{
    float: right;
}
.closeButton:hover, .closeButton:focus{
    color: black;
    cursor: pointer;
    text-decoration: none;

}
img{
    position: relative;
}
img:hover{
    opacity: .5;
}

@keyframes modalopen {
    from{opacity: 0}
    to{opacity: 1}
}